.products {

    &-box {
        
        &__item {
            padding: 0 10px;
            color: #000;
            
            &:hover,
            &:focus {
                text-decoration: none;
                color: #000;

                .products-box__item__img {
                    background-size: 120%;
                }
            }

            &__wrapper {
                box-shadow: 0 0 5px rgba($color: #000000, $alpha: .4);
                overflow: hidden;
                border-radius: 5px;
            }

            &__img {
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center center;
                width: 100%;
                height: 200px; 
                position: relative;
                transition: all ease-in-out .3s;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 50%;
                    min-height: 0;
                    display: block;
                    background: linear-gradient(to bottom, rgba(2, 10, 31, 0), rgba(2, 10, 31, 0.253));
                }
            }

            &__content {
                padding: 15px 20px;

                .ttl-wrapper {
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        width: 60px;
                        height: 3px;
                        background: rgb(15, 15, 15);
                    }
                }
            }
            .link-wrapper {
                width: 100%;
                color: #FFF;
                background: #1de9b6;
                text-align: center;
                text-transform: uppercase;
                font-weight: 800;
                letter-spacing: 1px;
                padding: 10px;
            }
        }
    }
}